body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    /* font-size: 400%; */
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #4ab19a;
    /* line-height: 2; */
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #4ab19a;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

.top-container {
    background-color: #e0ebe8;
    /* width: 200px;
    height: 200px;
    border: solid 10px;
    padding: 20px; */
    position: relative;
    padding: 50px 50px 0px 50px;
}

.middle-container {
    /* background-color: red; */
    /* height: 200px; */
    /* margin-left: 260px;
    border: solid 20px; */
    margin-top: 40px;
}

.detail {
    width: 40%;
    margin: 45px auto 45px auto;
}

.bottom-container {
    background-color: #c5ded7;
    /* width: 200px; */
    /* height: 200px; */
    /* margin-left: 500px;
    border: solid 10px; */
    margin-top: 80px;
    padding: 40px 0px 30px 0px;
}

.bottom-cloud {
    position: absolute;
    left: 23%;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 15%;
    top: 6%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.dev-img {
    float: left;
    margin-right: 30px;
}

.code-img {
    float: right;
    margin-left: 30px;
}


/* .dev-description {
    clear: left;
}

.code-description {
    clear: right;
} */

hr {
    border: dotted #AEC2B6 5px;
    border-bottom: none;
    width: 5%;
    margin: 80px auto 80px auto;
}

.btn {
    background: #9eebd5;
    background-image: -webkit-linear-gradient(top, #9eebd5, #4ab19a);
    background-image: -moz-linear-gradient(top, #9eebd5, #4ab19a);
    background-image: -ms-linear-gradient(top, #9eebd5, #4ab19a);
    background-image: -o-linear-gradient(top, #9eebd5, #4ab19a);
    background-image: linear-gradient(to bottom, #9eebd5, #4ab19a);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.footer-link {
    margin: auto 30px auto 30px;
    color: #11999E;
}

.copyright {
    margin-top: 30px;
    color: #EAF6F6;
}

a {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #EAF6F6;
}