body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    /* font-size: 400%; */
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #4ab19a;
    /* line-height: 2; */
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #4ab19a;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

.top-container {
    background-color: #e0ebe8;
    /* width: 200px;
    height: 200px;
    border: solid 10px;
    padding: 20px; */
    position: relative;
    padding: 50px;
}

.middle-container {
    /* background-color: red; */
    /* height: 200px; */
    /* margin-left: 260px;
    border: solid 20px; */
}

.bottom-container {
    /* background-color: yellow; */
    /* width: 200px; */
    /* height: 200px; */
    /* margin-left: 500px;
    border: solid 10px; */
}

.bottom-cloud {
    position: absolute;
    left: 23%;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 15%;
    top: 6%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}