body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #e0ebe8;
    /* width: 200px;
    height: 200px;
    border: solid 10px;
    padding: 20px; */
    position: relative;
    padding: 50px;
}

.middle-container {
    background-color: red;
    height: 200px;
    /* margin-left: 260px;
    border: solid 20px; */
}

.bottom-container {
    background-color: yellow;
    width: 200px;
    height: 200px;
    /* margin-left: 500px;
    border: solid 10px; */
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 100px;
}